<% include ./layouts/header %>

<div class="row">
    
    <h1 class="page-header"><%= b.title %></h1>
    
    <div class="col-xs-12 col-md-5">
        <img class="spi" src="/bookImages/<%= b.id %>/<%= b.image %>" alt="">
        <br>
    </div>
    <div class="col-xs-12 col-md-7">
        <ul class="gallery">
            <% galleryImages.forEach(function(image){ %>
            <% if (image != "thumbs") { %>
            <li>
                <a data-fancybox="gallery" href="/bookImages/<%= b.id %>/gallery/<%= image %>">
                    <img src="/bookImages/<%= b.id %>/gallery/thumbs/<%= image %>" alt="">
                </a>
            </li>
            <% } %>
            <% }); %>
        </ul>

        
    </div>
    <div class="col-xs-12 top">
        <p>5 sao</p>
        <p>based on ? ratings</p>
        <p>? comments</p>
        <p>Author: <%= b.author %></p>
        <p>Category: <%= b.category %></p>
        <p>Relase Year: <%= b.year %></p>
        <p>ISBN: <%= b.isbn %></p>
        <p>Pages Number: <%= b.pagesCount %></p>
        <p>Description: <%= b.desc %></p>
        <p>Price: $<%= parseFloat(b.price).toFixed(2) %></p>
        <a class="btn btn-small vd" href="/cart/add/<%= b.slug %>">Add to cart</a>
    </div>
    
    <br>
    <form method="post" action="/:category/:book/review"></form>
        <div class="col-xs-12">
            <h3>Write Review</h3>
            <br>
            <label for="">Rating</label>
                <select name="rating" class="form-control">
                    <option value="">-- Select rating point --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
            
                </select>
            <label for="">Comment</label>
            <textarea name="comment" class="form-control" cols="10" rows="10" placeholder="Description"></textarea>
            <br>
            <button  class="btn btn-default">Submit</button>

        </div>
    </form>

    <div class="col-xs-12">
        <h3>Review</h3>
        <br>
    
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="#" alt="Helo">
                </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Username</h4>
                    <h4 class="media-heading">rating</h4>
                    <h4 class="media-heading">comment</h4>
                    <h5 class="media-heading">Create date</h5>
                
                </div>
            
            </div>
        
    </div>

</div>


<% include ./layouts/footer %>